services:
  thingsboard:
    image: thingsboard/tb-postgres
    container_name: thingsboard
    restart: always
    ports:
      - "8080:9090"
      - "1883:1883"
    environment:
      TB_QUEUE_TYPE: in-memory
    volumes:
      - tb-data:/data
      - tb-logs:/var/log/thingsboard

  tb-gateway:
    image: thingsboard/tb-gateway
    container_name: tb-gateway
    restart: always
    depends_on:
      - thingsboard
    volumes:
      - ./config:/thingsboard_gateway/config
      - tb-gateway-logs:/thingsboard_gateway/logs

volumes:
  tb-data:
  tb-logs:
  tb-gateway-logs:
